{% extends "::base.html.twig" %}

{% block title %}
    César - {{ parent() }}
{% endblock %}

{% block body %}
    <div ng-app="front" ng-cloak>
        <div ng-controller="GlobalController" ng-view>
        </div>
    </div>
{% endblock %}