  <div class="separator-full"></div>
{#     <div class="row">
    <div class="span2">
      <h4 class="title">Lot COLOR</h4>
    </div>
  </div> #}
  <div class="row">
    <div class="span2">
{#     <img src="{{ asset('bundles/innovaplatin/css/bootstrap/images/desc.png') }}"/>
 #}    </div>
    <div class="span10">
    <p class="style_ecriture">Bienvenue sur Plat'In, plateforme pour l'enseignement/apprentissage de la Langue des Signes Française</p>
    </div>
  </div>
<div class="separator-full"></div>
  <div class="row">
    <div class="span2">
      {# <img src="{{ asset('bundles/innovaplatin/css/bootstrap/images/innova.png') }}"/> #}
    </div>
    <div class="span10">
      <p class="style_ecriture">Pour y accéder, connectez-vous</p>
    </div>
  </div>
<div class="separator-full"></div>