

	<div class="row" id="title">
		<h1>Toutes les formations accessibles de chez vous</h1>
    	<h2>Le tout au même endroit grâce à internet, un ordinateur et une webcam</h2>
    </div>
	<div class="types-of-formations row text--center">
    	<div class="col c1-4">
			<div class="formation-items">
				<li id="value">
					<a href="#/roomTeachers/filing" >
						<i class="fa fa-plus"></i> Déposer un support de cours
					</a>
				</li>
				<br />
				<li id="value">
					<a href="#/roomTeachers/support" >
						<i class="fa fa-th-list"></i> Voir les supports accessibles
					</a>
				</li>
			</div><!-- .formation-items -->
			<h3 id="h3Style">Boite à outils pratique</h3>
		</div>
	    <div class="col c1-4">
			<div class="formation-items">
				<p></p><p></p>
				<li id="value">
					<a href="#" >
						<i class="fa fa-eye-slash"></i> Voir les fiches proposées
					</a>
				</li>
			</div><!-- .formation-items -->
			<h3 id="h3Style">Boîte à outils théorique</h3>
	    </div>
	    <div class="col c1-4">
			<div class="formation-items">
				<p></p><p></p>
				<li id="value">
					<a href="#/roomTeachers/forum" >
						<i class="fa fa-video-camera"></i> Accéder au forum
					</a>
				</li>
			</div><!-- .formation-items -->
			<h3 id="h3Style">Mise en commun des réflexions</h3>
	    </div>   
    </div>